* {
  font-family: Roboto, Arial, Helvetica Neue, Helvetica, sans-serif;
}

body {
  background-image: url("../public/img/bg-pattern.png");
}

.button {
  display: inline-block;
  transition: .2s ease;
  padding: 15px;
  border: 2px solid #000;
  background: #000;
  color: #fff;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  border-radius: 0;
  cursor: pointer;
}

button:hover {
  text-decoration: none;
  background: #fff;
  color: #000;
}

.quiz{
  margin: 50px auto 0 auto;
  max-width: 400px;
}

.quiz-finish{
  text-align: center;
}

.score-container{
  position: absolute;
  right: 30px;
  top: 30px;
}

.options-container{
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
}

.options-container>*{
    margin-bottom: 15px;
}


.quiz-container {
  border: 5px solid;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 580px;
  width: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.quiz-start {
  text-align: center;
  position: relative;

}

.scoresHeader {
  position: absolute;
  top: 15px;
  left: 15px;
}

li {
  padding: 5px;
  list-style: decimal inside none;
}

li:nth-child(odd) {
  background-color: #dfdae7;
}

.button {
  transition: background-color 0.5s ease;
}

.wrong-answer {
  animation: wrongAnswerFlash 0.5s ease;
  color: white; 
}

.button.correct-answer {
  background-color: #4dc14d; 
}

@keyframes wrongAnswerFlash {
  0%, 100% {
    background-color: initial;
  }
  50% {
    background-color: #ff5252; 
  }
}